
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    z-index: 98;
    display: grid;
    width: 150px;
    margin-bottom: -11px;
    margin-top: -35px;
}
img.sticky1 {
    position: -webkit-sticky;
    position: sticky;
    top: 288px;
    z-index: 98;
    width: 107px;
    margin-left: 21px;
}

.mall-slide {
    top: 150px;
    width: 100%;
    height: 685px;
}
.mall-show-slide{
    display: block;
    position: absolute;
    width: 100%;
}
.mall-slide .slid-content {
    width: 100%;
    height: 550px !important;
    overflow: hidden;
    top: 150px;
    position: absolute;
}

.mall-slide .slid-content .mall-carousel-ind {
    position: absolute;
    top: 290px;
    width: 100%;
    line-height: 0!important;
    text-align: center;
    font-size: 0;
    z-index: 10;
}
.prev{
    width: fit-content;
    position: absolute;
    height: 535px;
    display: flex;
    align-items: center;
}
.prev img{
    width: 35px;
    filter: invert(1);
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
.next{
    width: fit-content;
    position: absolute;
    height: 535px;
    display: flex;
    align-items: center;
    float: right;
    right: 0px;
}
.next img{
    width: 35px;
    filter: invert(1);
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
.content-div-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.content-div-1 section {
    padding: 50px;
    width: 80%;
    text-align: center;
    padding-bottom: 0px;
}
.content-div-1 section h2{
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}
.content-div-1 section h2::before{
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}
.content-div-1 section p{
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #3e3e3e;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.content-div-2{
    padding-bottom: 105px;
    background: #f8f8f8;
    position: relative;
}
.content-div-2::before{
    content: url(/./assets/images/title-shape.png);
    position: absolute;
    left: 50%;
    top: 6px;
    bottom: auto;
    transform: translate(-50%, -100%);
}
.content-div-2 section{
    background: #f8f8f8;
    text-align: center;
    padding: 50px;
}
.content-div-2 section h2{
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}
.content-div-2 section h2::before{
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}
.content-div-2 .cards{
    background: #f8f8f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-div-2 .cards .box{
    height: 330px;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    border-radius: 13px;
    width: 264.75px;
    margin-right: 30px;
}
.content-div-2 .cards .box:hover{
    box-shadow: 0 0 25px rgb(0 0 0 / 25%);
    border-radius: 10px 10px 10px 10px;
}
.box .box-img{
    position: relative;
    transition: all .3s ease 0s;
} 
.box .box-img img{
    width: 100%;
}
.box .box-content{
    /* padding: 25px 10px 34px; */
    background-color: transparent;
    transition: all .3s ease 0s;
}
.box .box-content h4{
color: #444444;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
    text-align: center;
}
.box .box-content h4 a{
    color: #444444;
    text-transform: capitalize;
    text-decoration: none;
}

.our-product{
    padding-bottom: 105px;
    background: #f8f8f8;
    position: relative;
}

.our-product section{
    background: #f8f8f8;
    text-align: center;
    padding: 50px;
}
.our-product section h2{
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}
.our-product section h2::before{
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}
.our-product .cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.our-product .cards .box{
    height: 330px;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    border-radius: 13px;
    width: 264.75px;
    margin-right: 30px;
}
.our-product .cards .box:hover{
    box-shadow: 0 0 25px rgb(0 0 0 / 25%);
    border-radius: 10px 10px 10px 10px;
}
.our-product .box .box-img img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.choose-div{
    display: flex;
    padding-left: 100px;
    background-color: #e8f8df;
}
.choose-div section{
    display: flex;
    padding: 30px;
    width: 50%;
}
.choose-div .img-div{
    position: relative;
    width: fit-content;
    display: inline-block;
}
.choose-div .img-div img{
    width: 70px;
    height: 60px;
}
.choose-div h3{
    color: #f8f7f7;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    position: absolute;
    top: 2px;
    left: 16px;
}
.choose-div .content-div{
    padding-right: 50px;
    padding-left: 25px;
}
.choose-div .content-div h4{
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
   margin-bottom: 15px;
   margin-top: 0px;
}
.choose-div .content-div p{
   width: 100% !important;
    color: #666;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin: 0;
}
.choose-heading{
    color: #d4d9cc;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    background-color: #e8f8df; 

}
.choose-heading h2{
    margin: 0px;
    margin-left: 128px;
    padding-top: 40px;
    padding: 30px;
}
.bg{
    background: white !important;
}
.btn{
    background-color: #85bd02;
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    width: 120px;
    height: 45px;
}
.center{
    text-align: center;
}
.video{
    height: 500px;
    padding: 30px;
}
.video iframe{
    width: 70%;
    height: 100%;
    border: none;
    box-shadow: none;
}
.Clients{
text-align: center;
background-image: url("/assets/images/bg.jpg");
}
.Clients section{
    text-align: center;
    padding: 50px;
}
.Clients section h2{
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}
.Clients section h2::before{
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}
.Clients .CYDA h3{
    color: #5d5d5d;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 45px 0;
}
.Clients .CYDA p{
color: #8a8a8a;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.2px;
    line-height: 30px;
    margin: 42px auto 34px;
    width: 63%;
}
.Clients .CYDA span{
    color: #999999;
}
.star{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.star img{
    width: 35px;
    margin-left: -8px;
    filter: hue-rotate(70deg);
    background: #ffffff00;
}
.view{
    padding: 25px;
}
.view img{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.indian-market section{
    text-align: center;
    padding: 50px;
}
.indian-market section h2{
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}
.indian-market section h2::before{
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}
.indian-market .choose-div{
    display: flex;
    /* padding-left: 100px; */
    background-color: #ffffff;
    padding: 0px;
    justify-content: center;
}
.indian-market .choose-div section{
    display: flex;
    padding: 30px;
    width: 40%;
    background-color: #e8f8df;
    margin: 20px;
    border-radius: 10px;
}
.indian-market .choose-div .img-div{
    position: relative;
    width: fit-content;
    display: inline-block;
}
.indian-market .choose-div .img-div img{
    width: 50px;
    height: 50px;
}
.indian-market .choose-div h3{
    color: #f8f7f7;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    position: absolute;
    top: 2px;
    left: 16px;
}
.indian-market .choose-div .content-div{
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
}
.indian-market .choose-div .content-div h4{
    color: #666666;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.indian-market .choose-div .content-div p{
    color: #363636;
    margin: 0;
}

.our-clients section{
    text-align: center;
    padding: 50px;
}
.our-clients section h2{
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}
.our-clients section h2::before{
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}
.our-clients .logo-section{
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.logo-section img{
    height: 100%;
}
.mail-section{
    padding: 110px;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.mail-section span{
    color: #79ad00;
    display: block;
    font-size: 18px;
    margin-bottom: 1px;
}
.mail-section h3{
    color: #79ad00;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}
.mail-section input,.enquire{
    border: 1px solid #23d160;
    background: #fff none repeat scroll 0 0;
    /* border: medium none; */
    border-radius: 50px;
    box-shadow: 0 2px 15px 1.4px rgb(0 0 0 / 15%);
    color: #79ad00;
    display: inline-block;
    /* float: left; */
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    height: 55px;
    letter-spacing: 1px;
    line-height: 55px !important;
    padding: 0 30px;
    width: 450px;
    outline: none;
}
.mail-section a{
    color: #767676;
    font-size: 12px;
}
.mail-section .enquire{
    background-color: #85bd02;
    border: medium none;
    box-shadow: none;
    color: #ffffff;
    float: left;
    font-weight: 600;
    height: 40px;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
    width: inherit;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    box-shadow: 0 0px 7px 0.9px rgb(0 0 0 / 10%);
    height: 55px;
    line-height: 55px !important;
}
.mail-section .enquire:hover{
    transition: all 0.5s ease-out 0s;
    background-color: #648f00;
}

.about{
    background: #353535;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.about h3{
    color: #f6f6f6;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    margin-bottom: 30px;
    padding-bottom: 28px;
    margin-top: 0px;
    position: relative;
}

.about h3::before{
    width: 50px;
    height: 2px;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #5c5c63;
}

.about ul{
    padding: 0px;
    margin: 0px;
}
.about ul li {
    margin-bottom: 15px;
}

.about a{
    text-transform: capitalize;
    color: #dfdfdf;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    background-color: transparent;  
}
.stay{
    width: 20%;
}
.stay h6{
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.loc-head{
    display: flex;
    
}
.loc-head i{
    color: #dcdcdc;
    font-size: 18px;
}
.loc-head .con-div{
    padding-left: 0px;
    margin-left: 20px;
}
.loc-head p{
    color: #dfdfdf;
    font-size: 14px;
    font-weight: 600;
}
.whatsapp{
    display: flex;
    padding: 10px;
}
.email{
    margin-left: 10px;
}
.whatsapp i{
    color: #dcdcdc;
    font-size: 18px;
}
.email p{
    color: #dfdfdf;
    font-size: 14px;
    font-weight: 600;
}
.social-bar{
    background: #353535;
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
}
.social-bar a{
    display: table-cell;
    width: 5.2%;
    text-align: center;
    font-size: 2em;
}
.yt{
    color: #eb3b38 !important;
}
.fb{
    color: #3b5998 !important;
}
.tw{
    color: #00acee !important;
}
.ld{
    color: #0e76a8 !important;
}
.ig{
    color: #E1306C !important;
}
.footer{
    background: #222222;
    padding: 30px;
    text-align: center;
}
.footer p{
    color: #b3b3b3;
    letter-spacing: 1px;
    margin: 0;
}
.footer p a{
    color: #b3b3b3;
}
.scroll-up{
    background-color: black;
    display: block !important;
    transition: all 0.3s ease-out 0s;
}
#scroll{
    background: #85bd02 none repeat scroll 0 0;
    bottom: 85px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 40px;
    line-height: 44px;
    position: fixed;
    right: 12px;
    text-align: center;
    width: 40px;
    z-index: 9999;
}
#scroll a{
    position: fixed;
    z-index: 2147483647;
    display: inline;
}
#scroll i{
    font-size: 25px;
}

@media only screen and (max-width:480px){


.mall-slide{
    height: 330px;
}

.prev,.next{
    display: none;
}

.mall-slide .slid-content{
    height: 185px !important;
    top: 120px;
}
    .mall-show-slide img{
    width: 100% !important;
    height: 100% !important;
    }

.content-div-1 section{
        padding: 0px;
        padding-bottom: 20px;
}
.content-div-2{
    padding-bottom: 40px;
}
.content-div-2 section{
        padding: 0px;
        padding-bottom: 40px;
}
.content-div-2 .cards .box{
    margin-bottom: 20px;
}
.choose-heading h2{
    margin-left: 0px;
    font-size: 36px;
}
.choose-div{
    flex-direction: column;
    padding-left: 0px;

}
.choose-div section{
    width: 100%;
    padding: 0px;
}
.choose-div .img-div{
    padding: 10px;
}
.choose-div .content-div{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.Clients .CYDA p{
    width: 100%;
    margin: 0;
}
#scroll{
    right: 10;
}
.our-product .cards .box{
    margin-bottom: 25px;
    margin-right: 0px;
}
.our-product section{
    padding-bottom: 0px;
}
.video{
    height: 250px;
    padding: 0px;
    width: 100%;
}
.video iframe{
    width: 100%;
    height: 100%;
}
.indian-market .choose-div section{
    padding: 0px;
    width: 90%;
    border-radius: 10px;
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.indian-market .choose-div .content-div{
    padding-right: 0px;
    padding-left: 0px;
    padding: 30px;
    padding-top: 15px;
}
.indian-market .choose-div .img-div{
    padding-top: 15px;
    padding-left: 15px;
}
.our-clients .logo-section{
    flex-direction: column;
    align-items: center;
}
.logo-section img{
    margin-bottom: 10px;
}
.mail-section{
    padding: 15px;
    flex-direction: column;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    align-content: space-around;
    height: 260px;
}
.mail-section input{
    width: 260px;
}
.about{
    flex-direction: column;
    padding: 25px;
}
.about section{
    margin-bottom: 20px;
}
.stay{
    width: 100%;
}
.loc-head .con-div{
    width: 50%;
}
.social-bar{
    justify-content: space-around;
    padding: 20px;
}
.footer p{
    font-size: 10px;
}


}

@media (min-width: 768px) and (max-width: 991px){

.mall-slide .slid-content{
  width: 100%;
    height: 550px !important;
    overflow: hidden;
    top: 121px;
    position: absolute;
}
.choose-div{
    padding-left: 20px;

}
.content-div-2{
    
    padding-bottom: 25px;

}
.content-div-2 .cards .box{
    margin-bottom: 30px;
    margin-left: 0px;
}
.choose-heading h2{
    font-size: 60px;
    margin-left: 45px;
}
.choose-div section{
    padding: 10px;
    width: 100%;
}
.choose-div .content-div{
    padding-right: 0px;
}
.our-product .cards .box{
    margin-bottom: 30px;
}
.video{
    height: 360px;
    padding: 0px;
    width: 100%;
}
.mail-section{
    padding: 0px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 350px;
}
.indian-market .choose-div .img-div{
    display: none;
}
.indian-market .choose-div section{
    padding: 20px;
}
.indian-market .choose-div .content-div{
    padding-right: 0px;
    padding-left: 0px;
}
.about{
    flex-wrap: wrap;
}
.about section{
    width: 50%;
    margin-bottom: 30px;
}
}