<div id="top">
<a id="scroll" href="#top"><i class="fa fa-arrow-up"></i></a>
    <div class="mall-slide">
        <div class="slid-content">
            <div class="mall-show-slide fade" *ngFor="let item of Imagedata;">
                <img src="{{item}}" style="width: 100%; height: 535px;">
            </div>
            <div class="prev">
                <img src="assets/images/left-arrow.png" alt="left-arrow">
            </div>
            <div class="next">
                <img src="assets/images/right-arrow.png" alt="right-arrow">
            </div>
        </div>
    </div>
     
    <div class="content-div-1">  
        <section>
            <img src="assets/images/leaf.png" alt="">
            <h2>Pisum - Global Food Importers & Exporters</h2>
        </section>
        <section>
            <p>“As the ‘land of spices’, India exports tons of various kinds of food. In fact, food export from India is
                a major source of revenue. To help your products reach to even the farthest corners of the world, Pisum
                Foods offers you various types of food export as well as spices export from India. Being among the
                leading food export companies in India, we ensure our services conform to international quality
                standards.”</p>
        </section>
    </div>
    <span>
        <img class="sticky" src="assets/images/drs_logo.png" alt="drs_logo">
        <img class="sticky1" src="assets/images/click1.png" alt="drs_logo">
      </span>     
    <div class="content-div-2">
        <section>
            <img src="assets/images/leaf.png" alt="">
            <h2>Popular Products</h2>
        </section>
        <section class="cards">

            <div class="box">
                <div class="box-img">
                    <img src="assets/images/coconut.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Coconut" href="/fruits/coconut">Coconut</a>
                    </h4>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="assets/images/cumin.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Cumin" href="/fruits/coconut">Cumin</a>
                    </h4>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="assets/images/coffee-beans.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Coffee-beans" href="/fruits/coconut">Coffee-beans</a>
                    </h4>
                </div>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="assets/images/Onion.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Onion" href="/fruits/coconut">Onion</a>
                    </h4>
                </div>
            </div>
        </section>
    </div>

    <section class="choose-heading">
        <h2>WHY CHOOSE US ?</h2>
    </section>
    <div class="choose-div">
        <section>
            <div class="img-div">
                <img src="assets/images/50.png" alt="">
                <h3>01</h3>
            </div>
            <div class="content-div">
                <h4>Get Buyers for Your Food Products</h4>
                <p>No matter the type of food or spice you plan on exporting, we will ensure that you get genuine buyers
                    for your products who meet your expectations.</p>
            </div>
        </section>
        <section>
            <div class="img-div">
                <img src="assets/images/50.png" alt="">
                <h3>04</h3>
            </div>
            <div class="content-div">
                <h4>Market Analysis & Up-to-date Market Information</h4>
                <p>Our thorough and regular analysis and research let us update our database with up to date information
                    on the market and allows us to stay on top of every update.</p>
            </div>
        </section>
    </div>
    <div class="choose-div">
        <section>
            <div class="img-div">
                <img src="assets/images/50.png" alt="">
                <h3>02</h3>
            </div>
            <div class="content-div">
                <h4>Best quality food trading services</h4>
                <p>Our stringent policies make sure that food handling and trading is in accordance with international
                    quality standards.</p>
            </div>
        </section>
        <section>
            <div class="img-div">
                <img src="assets/images/50.png" alt="">
                <h3>05</h3>
            </div>
            <div class="content-div">
                <h4>Reliable & Trusted Services</h4>
                <p>Trust is a pillar of our services. Our transparent and reliable operations ensure that you feel at
                    ease with our services.</p>
            </div>
        </section>
    </div>
    <div class="choose-div">
        <section>
            <div class="img-div">
                <img src="assets/images/50.png" alt="">
                <h3>03</h3>
            </div>
            <div class="content-div">
                <h4>Global Presence</h4>
                <p>Even if you are planning to export across multiple continents, we’ve got you covered. Our global
                    presence will allow your products to be exported to various countries.</p>
            </div>
        </section>
        <section>
            <div class="img-div">
                <img src="assets/images/50.png" alt="">
                <h3>06</h3>
            </div>
            <div class="content-div">
                <h4>Save your time & cost for searching markets</h4>
                <p>Understanding and researching the market by yourself can be expensive and time-consuming. But with
                    Pisum, we will do that for you instead.</p>
            </div>
        </section>
    </div>
    <div class="our-product bg">
        <section class="bg">
            <img src="assets/images/leaf.png" alt="">
            <h2>Our Product Range</h2>
        </section>
        <section class="cards bg">
            <div class="box">
                <div class="box-img">
                    <img src="assets/images/grains.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Grains-And-Cereal" href="/fruits/coconut">Grains-And-Cereal</a>
                    </h4>
                </div>
            </div>
            <div class="box bg">
                <div class="box-img">
                    <img src="assets/images/pulses.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="pulses" href="/fruits/coconut">Pulses</a>
                    </h4>
                </div>
            </div>
            <div class="box bg">
                <div class="box-img">
                    <img src="assets/images/spices.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Spices" href="/fruits/coconut">Spices</a>
                    </h4>
                </div>
            </div>
            <div class="box bg">
                <div class="box-img">
                    <img src="assets/images/fruits.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Fruits" href="/fruits/coconut">Fruits</a>
                    </h4>
                </div>
            </div>
        </section>

        <section class="cards bg">
            <div class="box bg">
                <div class="box-img">
                    <img src="assets/images/vegetables.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Vegetables" href="/fruits/coconut">Vegetables</a>
                    </h4>
                </div>
            </div>
            <div class="box bg">
                <div class="box-img">
                    <img src="assets/images/oilseeds.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Oilseeds" href="/fruits/coconut">Oilseeds</a>
                    </h4>
                </div>
            </div>
            <div class="box bg">
                <div class="box-img">
                    <img src="assets/images/floriculture.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Floriculture" href="/fruits/coconut">Floriculture</a>
                    </h4>
                </div>
            </div>
            <div class="box bg">
                <div class="box-img">
                    <img src="assets/images/herbs.jpg" alt="">
                </div>
                <div class="box-content">
                    <h4>
                        <a title="Herbs" href="/fruits/coconut">Herbs</a>
                    </h4>
                </div>
            </div>
        </section>
        <div class="center">
            <button class="btn">View More</button>
        </div>
    </div>

    <div class="video center">
        <iframe src="https://www.youtube.com/embed/s7CopnLJASo" allowfullscreen=""></iframe>
    </div>

    <div class="Clients">
        <section>
            <img src="assets/images/leaf.png" alt="">
            <h2>What Our Clients Say!</h2>
        </section>
        <section class="CYDA">
            <img src="assets/images/CYDA_Logo.png" alt="">
            <h3>A Great Big Thank you</h3>
            <p>Let we take the opportunity to convey our "A Great Big Thank you" for
                swiftly supplying us with prompt and efficient delivery of the Kits at the time of crisis. </p>
            <p>We really admire the dedication and your teamwork in making us get our order in time.
                We shall highly recommend Your Esteemed organization to our prospects and will surely look forward to
                developing good relations.</p>
            <p>Thanks once again for the entire team to make this a 'Success'.</p>
            <span> Centre For Youth Development &amp; Activities (CYDA), Pune</span>
            <div class="star">
                <img src="assets/images/star.png" alt="">
                <img src="assets/images/star.png" alt="">
                <img src="assets/images/star.png" alt="">
                <img src="assets/images/star.png" alt="">
                <img src="assets/images/star.png" alt="">
            </div>
            <div class="view">
                <img src="assets/images/test.png" alt="">
            </div>
        </section>
    </div>

    <div class="indian-market">
        <section>
            <img src="assets/images/leaf.png" alt="">
            <h2>Why the Indian market is Best?</h2>
        </section>
        <div class="choose-div">
            <section>
                <div class="img-div">
                    <img src="assets/images/55.png" alt="">
                </div>
                <div class="content-div">
                    <h4>AGRICULTURE BASE</h4>
                    <p>With over 50 per cent of India’s workforce involved in the agriculture sector, the country is one
                        of the leading agriculture exporters.</p>
                </div>
            </section>
            <section>
                <div class="img-div">
                    <img src="assets/images/55.png" alt="">
                </div>
                <div class="content-div">
                    <h4>AFFORDABLE RATES</h4>
                    <p>Cheap labour and raw materials allow India to produce spices, oils, and other food products at
                        great affordable rates.</p>
                </div>
            </section>
        </div>
        <div class="choose-div">
            <section>
                <div class="img-div">
                    <img src="assets/images/55.png" alt="">
                </div>
                <div class="content-div">
                    <h4>BEST QUALITY FOOD PRODUCTS</h4>
                    <p>Any food product manufactured in India goes through quality assurance tests and certifications to
                        ensure that they are of high quality.</p>
                </div>
            </section>
            <section>
                <div class="img-div">
                    <img src="assets/images/55.png" alt="">
                </div>
                <div class="content-div">
                    <h4>VARIETY OF SPICES AND TASTES</h4>
                    <p>Being known as the land of spices, the country is the leading producer of spices. The country
                        boasts of a huge variety of spices providing a great range of flavour.</p>
                </div>
            </section>
        </div>
        <div class="choose-div">
            <section>
                <div class="img-div">
                    <img src="assets/images/55.png" alt="">
                </div>
                <div class="content-div">
                    <h4>DIVERSITY OF INDIA AND INDIAN CULTURE</h4>
                    <p>The diverse Indian cultures are the reason behind the diversified food products available. With
                        each region of the country possessing its own blend and flavour, no country does this better.
                    </p>
                </div>
            </section>
            <section>
                <div class="img-div">
                    <img src="assets/images/55.png" alt="">
                </div>
                <div class="content-div">
                    <h4>TECHNOLOGY AND INNOVATION</h4>
                    <p>In a land blessed with great scientific minds, India’s technological advancements and innovation
                        have made international trade all the easier, making it the perfect choice.</p>
                </div>
            </section>
        </div>
    </div>

    <div class="our-clients">
        <section>
            <img src="assets/images/leaf.png" alt="">
            <h2>Our Clients</h2>
        </section>
        <section class="logo-section">
            <img src="assets/images/BOX.jpg" alt="">
            <img src="assets/images/cii.png" alt="">
            <img src="assets/images/CYDA_Logo.png" alt="">
        </section>
    </div>

    <div class="mail-section">
        <section>
            <span>Submit Your Requirements</span>
            <h3>Just One Step Ahead</h3>
        </section>

        <section>
            <input type="email" placeholder="Enter Email Address">
            <section>
                <a href="">Form powered by KwesForms</a>
            </section>
        </section>
        <section>
            <button class="enquire">Enquire Now</button>
        </section>
    </div>

    <div class="about">
        <section>
            <h3>Information</h3>
            <ul style="list-style: none;">
                <li>
                    <a href="/" title="Home">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Home</a>
                </li>
                <li>
                    <a href="/about-us/" title="About Us">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; About Us</a>
                </li>
                <li>
                    <a href="/certificates/" title="Certificates">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Certificates</a>
                </li>
                <li>
                    <a href="/product-range/" title="Products Range">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Products Range</a>
                </li>
                <li>
                    <a href="" data-target="#supplier-form" data-toggle="modal" title="Become Supplier">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Become Supplier</a>
                </li>
                <li>
                    <a href="/blog" title="Blogs">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Blogs</a>
                </li>
                <li>
                    <a href="/careers/" title="Careers">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Careers</a>
                </li>

                <li>
                    <a href="/contact-us/" title="Contact Us">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Contact Us</a>
                </li>
            </ul>
        </section>
        <section>
            <h3>Products Range</h3>

            <ul style="list-style: none;">

                <li><a href="/grains-and-cereal/" title="Grains and Cereal">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Grains and Cereal</a></li>

                <li><a href="/pulses/" title="Pulses">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Pulses</a></li>

                <li><a href="/spices/" title="Spices">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Spices</a></li>

                <li><a href="/fruits/" title="Fruits">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Fruits</a></li>

                <li><a href="/vegetables/" title="Vegetables">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Vegetables</a></li>

                <li><a href="/oilseeds/" title="Oilseeds">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Oilseeds</a></li>

                <li><a href="/floriculture/" title="Floriculture">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Floriculture</a></li>

                <li><a href="/herbs/" title="Herbs">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Herbs</a></li>

                <li><a href="/dry-fruits/" title="Dry Fruits">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Dry Fruits</a></li>

                <li><a href="/beverages/" title="Beverages">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Beverages</a></li>

                <li><a href="/dehydrated-products/" title="Dehydrated Products">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Dehydrated Products</a></li>
            </ul>
        </section>

        <section>

            <h3>Branches</h3>
            <ul style="list-style: none;">

                <li>
                    <a href="/contact-us/#branches" title="Pune">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Pune
                    </a>
                </li>

                <li>
                    <a href="/contact-us/#branches" title="Mumbai">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Mumbai
                    </a>
                </li>

                <li>
                    <a href="/contact-us/#branches" title="Bangalore">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Bangalore
                    </a>
                </li>

            </ul>
        </section>
        <section class="stay">
            <h3>Stay Connected</h3>
            <div class="loc-head">
                <div>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="con-div">
                    <h6>Registered address:</h6>
                    <p> 33/15, Prashant Bunglow,
                        Opp. Garware College,
                        Karve Road, Pune 411004 India</p>
                </div>
            </div>

            <div>
                <div class="loc-head">
                    <div>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="con-div">
                        <h6>Phone Number:</h6>
                        <p> 020 48570000</p>
                    </div>
                </div>
            </div>

            <div class="whatsapp">
                <i class="fa fa-whatsapp"
                    style="background: #25d366;color: #ffffff;padding: 2px;border-radius: 50%;"></i>
                <h6>+91 020 48570000</h6>
            </div>
            <div class="whatsapp">
                <i class="fa fa-envelope" aria-hidden="true"></i>

                <div class="email">
                    <h6>Email:</h6>
                    <p>inquiry@pisumfoods.com</p>
                </div>
            </div>


        </section>

    </div>
    <div class="social-bar">
        <a class="yt" title="youtube icon" target="_blank" rel="noopener"
            href="https://www.youtube.com/channel/UC5J8ax1tO3F5jDPhGFql-ZQ"><i class="fa fa-youtube"></i>
        </a>
        <a class="fb" title="facebook icon" target="_blank" rel="noopener" href="https://www.facebook.com/pisumfoods"><i
                class="fa fa-facebook"></i>
        </a>
        <a class="tw" title="twitter icon" target="_blank" rel="noopener" href="https://twitter.com/pisumfoods"><i
                class="fa fa-twitter"></i>
        </a>
        <a class="ld" title="linkedin icon" target="_blank" rel="noopener"
            href="https://www.linkedin.com/company/pisum-food-services"><i class="fa fa-linkedin"></i>
        </a>
        <a class="ig" title="instagram icon" target="_blank" rel="noopener"
            href="https://www.instagram.com/pisumfoods/"><i class="fa fa-instagram"></i>
        </a>
    </div>

<div class="footer">
    <p>Copyright © 2020
        <a style="text-decoration: underline;" target="_blank" rel="noopener" href="http://www.btwgroup.co/" title="btw group"> A BTW Group Company
        </a>&nbsp; | &nbsp;Designed by
        <a style="text-decoration: underline;" title="wbgl india" target="_blank" rel="noopener" href="https://wgbl.co/">WGBL India
        </a> - Design Agency
      </p>
</div>
</div>