<nav class="flex" id="nav">
  <div id="logo">
    <img src="assets/images/pisum-logo.png" alt="Icon">
  </div>
  <div>
    <ul class="flex">
      <li><a href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li class="products-menu">
        <a href="">Products</a>
        <img src="assets/images/drop.png" alt="dropdown">
        <!-- <ul class="dropdown"> 
          <li>Grains And Cereal</li>
          <li>Pulses</li>
          <li>Spices</li>
          <li>Fruits</li>
          <li>Vegetables</li>
          <li>Oilseeds</li>
          <li>Floriculture</li>
          <li>Herbs</li>
          <li>Dry Fruits</li>
          <li>Beverages</li>
          <li>Dehydrated Products</li>
        </ul> -->
      </li>
      <li><a href="">Certificates</a></li>
      <li><a href="">Blogs</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </div>
  <div></div>
</nav>
<app-home></app-home>