<nav id="small-nav">
  <div class="icon">
    <img id="logo" src="assets/images/pisum-logo.png" alt="">
    <img id="icon1" (click)="showList()" src="assets/images/menu_b.png" alt="">
    <img id="icon2" (click)="hideList()" class="hide_icon" src="assets/images/cancel.png" alt="">
  </div>
  <div class="list_hide" id="list">
    <ul>
      <li>Home</li>
      <li>About Us</li>
      <li>Products</li>
      <li>Certificates</li>
      <li>Blogs</li>
      <li>Contact Us</li>
    </ul>
  </div>
</nav>

<nav class="flex" id="nav">
  <div id="logos">
    <img src="assets/images/pisum-logo.png" alt="Icon">
  </div>
  <div>
    <ul class="flex">
      <li><a href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li class="products-menu">
        <a href="">Products</a>
        <img src="assets/images/drop.png" alt="dropdown">
        <!-- <ul class="dropdown"> 
          <li>Grains And Cereal</li>
          <li>Pulses</li>
          <li>Spices</li>
          <li>Fruits</li>
          <li>Vegetables</li>
          <li>Oilseeds</li>
          <li>Floriculture</li>
          <li>Herbs</li>
          <li>Dry Fruits</li>
          <li>Beverages</li>
          <li>Dehydrated Products</li>
        </ul> -->
      </li>
      <li><a href="">Certificates</a></li>
      <li><a href="">Blogs</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </div>
</nav>
<app-home></app-home>